/* Untuk Tablet */
@media all and (max-width: 1000px) {

    .top-wrapper{
        padding : 115px 0 80px 0;
      }

    .food, .dessert, .drink {
      width: 50%;
      margin-bottom: 50px;
    }
  
    .top-wrapper h1 {
      font-size: 80px;
    }

    .top-wrapper h2{
        font-size: 20px;
    }

    .btn-wrapper{
        margin: 30px 0;
    }

    .heading h2 {
      font-size: 20px;
    }
  }
  
  /* Untuk Smartphone */
  @media all and (max-width: 800px) {

    .top-wrapper{
      padding : 72px 0 36px 0;
    }

    .top-wrapper h1{
      font-size: 50px !important;
      line-height: 50px !important;
      text-align: center;
    }

    .top-wrapper p{
      text-align: center;
      font-size: 15px !important;
      line-height: 30px !important ;
      letter-spacing: 1px !important;
    }
  
    .food, .dessert, .drink {
      width: 100%;
    }

    .foods h2, .desserts h2, .drinks h2{
        font-size: 40px;
      }
  
    footer {
      text-align: center;
    }
  
    .top-wrapper {
      text-align: left;
    }
    
    /* Tambahkan CSS untuk header-right */
    .header-right{
      width: 530px;
    }

    .header-right a{
      padding : 0px 11px;
    }
  
    /* Tambahkan CSS untuk menu-icon */
    .menu-icon{
      display : block;
    }
  
    .top-wrapper h1 {
      font-size: 70px;
      line-height: 20px;
    }

    .top-wrapper h2 {
        font-size: 10px;
        line-height: 20px;
        margin-top: 30px;
      }

    .btn-wrapper h2{
        line-height: 10px;
        margin-top: 15px;
    }
  
    .top-wrapper p {
      font-size: 8px;
      line-height: 10px;
    }

    .heading{
        padding-top: 52px;
    }
    .menu-wrapper{
        padding-bottom: 335px;
    }
  }
  